#Environment variables
.env

#Python cache files
__pycache__/    

#Virtual environment
venv/

#IDE specific files
.vscode/
.continue/

#MCP server files
mcp_config.json
mcp_server.py
test_mcp_server.py

#SQL files
SQL.txt